<div class="detail">
  <a routerLink="/">
    <h2>velog</h2>
  </a>
  <div *ngIf="post" class="detail-post">
    <div class="detail-post-title">
      <h2>{{ post.title }}</h2>
      <div class="btn-group btn-outline-primary btn-sm">
        <button class="btn" (click)="handleDeletePost(post)">
          {{ "delete" | translate }}
        </button>
        <button class="btn" [routerLink]="['/edit', post.id]">
          {{ "edit" | translate }}
        </button>
      </div>
      <div class="clr-toggle-wrapper">
        <input
          class="clr-toggle"
          id="toggle1"
          name="toggle-basic"
          type="checkbox"
          value="option1"
          (click)="handleToggleOn()"
        />
        <label for="toggle1">{{
          (post.isDraft ? "draft" : "final") | translate
        }}</label>
      </div>
    </div>
    <p>
      {{ "creationDate" | translate }} {{ post.createDate | date: "short" }}
    </p>
    <p>{{ "publishDate" | translate }} {{ post.editDate | date: "short" }}</p>
    <p>{{ post.text }}</p>
  </div>
</div>
