<div class="detail">
  <a routerLink="/">
    <h2>velog</h2>
  </a>
  <div *ngIf="data" class="detail-post">
    <div class="detail-post-title">
      <h2>{{ data.title }}</h2>
      <div class="btn-group btn-outline-primary btn-sm">
        <button class="btn" (click)="handleDeletePost(data)">
          {{ "delete" | translate }}
        </button>
        <button class="btn" [routerLink]="['/edit', data.id]">
          {{ "edit" | translate }}
        </button>
      </div>
      <div class="clr-toggle-wrapper">
        <input
          class="clr-toggle"
          id="toggle1"
          name="toggle-basic"
          type="checkbox"
          value="option1"
          (click)="handleToggleOn()"
        />
        <label for="toggle1">{{
          (data.isDraft ? "draft" : "final") | translate
        }}</label>
      </div>
    </div>
    <p>
      {{ "creationDate" | translate }} {{ data.date | date: "short" }}
    </p>
    <p>{{ "publishDate" | translate }} {{ data.editDate | date: "short" }}</p>
    <p>{{ data.text }}</p>
  </div>
</div>
